@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}


* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;

}
.nftGrid{
  display: flex;
  width: 70%;
  margin: 20px auto;
  grid-gap: 15px;
  flex-wrap: wrap;
}

.nftDrop{
  background:rgba(26, 25, 25, 0.238);
  padding:10px;
  border-radius: 19px;
  border:1px solid rgba(68, 67, 67, 0.292);
}

.images{
  object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

a{
  color:white;
  text-decoration:none
}